/* About.module.css */
.title {
  padding-top: 40px;
  padding-bottom: 20px;
}

.row {
  margin-top: 5%;
  padding: 1%;
}

.text {
  font-size: x-large;
  padding-right: 5%;
}

.image {
  max-width: 100%;
  height: auto;
  padding-right: 2%;
  max-height: 35vh;
}