.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  justify-content: center; /* This will center the .mainContent horizontally */
  align-items: start; /* This will align the .mainContent to the start of the container vertically */
}

.mainContent {
  padding: 20px;
  max-width: 90%; /* or any other value you prefer */
  margin: auto; /* This centers the content */
}

.paper {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5; /* Light grey background */
}

.imageContainer {
  text-align: center; /* Center the image */
}

.image {
  max-width: 100%;
  height: auto;
  max-height: 35vh;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.text {
  font-size: 1.1em;
}

/* Additional styles for MUI Typography */
.Typography h2 {
  color: #aa00dd;
}

/* Additional responsive styling */
@media (max-width: 768px) {
  .mainContent {
    padding: 10px;
  }
}
