.container {
  display:grid;
  grid-template-columns:100%;
  grid-template-rows:auto 1fr auto;

  /* fallback height */
  min-height:100vh;

  /* new small viewport height for modern browsers */
  min-height:100svh;
}

.documentationPage {
  display:block;
  padding: 1rem;
}

@media (min-width:768px) {
  .documentationPage  {
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 3%;
  }
}