.header {
  /* Floating header */
  position: sticky;
  top: 0.1%;

  /* Make sure that nav tabs stay in same line as logo */
  display: flex;

  /* Make sure that nav tabs  at the right of the screen*/
  justify-content: space-between;

  /* Make sure there is some space between logo and box */
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  /* Make border white */
  border: solid;
  border-color: #f2f2f2;
  border-width: 5px;

  /* Background color - gray */
  background-image: linear-gradient(to right, #000000, #f2f2f2);
}

.logo {
  display: flex;
}

.logo img {
  /* Adjust the height to make the logo bigger */
  height: 130px; 
  border-radius: 15px;
}

.header nav {
  display: flex;
  /* align the items to the end - automatic bottom */
  align-items: flex-end;
}

.header .navList {
  list-style: none;
  display: flex;
  gap: 2rem; /* Adjust the gap to increase the spacing between navigation links */
}

.header .navList li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

/* Underline animation for Navigation text stuff */
.header .navList li a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #333;
  transition: width 0.3s ease;
}

.header .navList li a:hover::after {
  width: 100%;
}
/* End of underline animation stuff */


.header .menuToggle {
  display: none;
}

.header .menuIcon {
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .header .menuToggle {
    display: block;
  }

  .header .menuIcon {
    display: block;
    font-size: 1.5rem;
  }

  .header .navList {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f2f2f2;
    padding: 1rem;
    width: 100%;
    z-index: 1;
  }

  .header .navList.show {
    display: flex;
  }

  .header .navList li {
    margin-bottom: 0.5rem;
  }
}
