.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full height */
  }

  .imageContainer {
    flex-grow: 1; /* Takes up remaining space */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .infographic {
    max-width: 70%;
    max-height: 70%;
    object-fit: fill;
  }
  