.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full height */
  }

  .imageContainer {
    flex-grow: 1; /* Takes up remaining space */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .infographic {
    max-width: 70%;
    max-height: 70%;
    display: block; /* Ensures it doesn't inline with other elements */
  }
  

  /* Additional responsive styling */
@media (max-width: 1100px) {
  .infographic {
    max-width: 100%;
    margin-top: 0; /* Remove any top margin to ensure it's at the top */
    object-fit: contain;
  }
}