.newsPage {
    padding: 2rem;
  }
  
  .twitterFeed {
    margin-top: 2rem;
    max-width: 600px; /* Adjust the value as per your desired width */
    margin-left: auto;
    margin-right: auto;
  }
  