.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    justify-content: center; /* This will center the .mainContent horizontally */
    align-items: center;
    max-width: 100%;
    background: #f4f4f4;
  }
  
  .mainContent {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  }

  .paper {
    
  }