.container {
  display:grid;
  grid-template-rows:auto 1fr auto;
  grid-template-columns:100%;

  /* fallback height */
  min-height:100vh;

  /* new small viewport height for modern browsers */
  min-height:100svh;
}

.team_page {
    padding: 2rem;
}

.team_members,
.team_collaborators {
  margin-bottom: 2rem;
}
  